{{ range . }}
# Note
model: ch-en
deck: {{ deckName }}
tags: {{ tags }}

## Chinese
<span class="chinese">{{ removeSpaces .Chinese }}</span>
## Pinyin
<span class="pinyin">{{ .Pinyin }}</span>
<br>
## English
<span class="english">{{ .English }}</span>
## Audio
<span class="audio">{{ audio .Chinese }}</span>
## Components
Components:
{{ range .Components }}
{{ . }}
<br/>
{{ end }}
## Kangxi
Kangxi:
{{ range .Kangxi }}
{{ . }}
<br/>
{{ end }}
## Equivalents
Equivalents: {{ .Equivalents }}
## Traditional
Traditional: {{ .Traditional }}
## Examples
Examples: {{.Example}}
{{ end }}
