{{ range . }}
# Note
model: ch-en
deck: {{ deckName }}
tags: {{ tags }}

## Chinese
<span class="chinese">{{ removeSpaces .Chinese }}</span>
## Pinyin
<span class="pinyin">{{ .Pinyin }}</span>
<br>
## English
<span class="english">{{ .English }}</span>
## Audio
<span class="audio">{{ audio .Chinese }}</span>
## Components
Components:
{{ range .Components }}
<a href="https://hanzicraft.com/character/{{ . }}">{{ . }}</a>
<br/>
{{ end }}
## Kangxi
Kangxi:
{{ range .Kangxi }}
<a href="https://hanzicraft.com/character/{{ . }}">{{ . }}</a>
<br/>
{{ end }}
## Equivalents
Equivalents: <a href="https://hanzicraft.com/character/{{ .Equivalents }}">{{ .Equivalents }}</a>
## Traditional
Traditional: <a href="https://hanzicraft.com/character/{{ removeSpaces .Traditional }}">{{ removeSpaces .Traditional }}</a>
## Examples
Examples: {{.Example}}
## UniqueChars
{{ end }}
