{{ range .Dialogues }}
{{ if $.RenderSentences }}
{{ template "sentences.tmpl" .Sentences }}
{{ else }}
{{ range .Sentences }}
{{ template "words.tmpl" .NewWords }}
{{ end }}
{{ end }}
# Note
model: en-ch
deck: {{ deckName }}
tags: {{ tags }}

## Chinese
<span class="chinese">{{ .Chinese}}</span>
## Pinyin
<span class="pinyin">{{ .Pinyin }}</span>
## English
<span class="english">{{ .English }}</span>
## Audio
<span class="audio">{{ audio .Chinese }}</span>
## Components
{{ range .Sentences }}
{{ range .AllWords }}
<a href="https://hanzicraft.com/character/{{ removeSpaces .Chinese }}">{{ removeSpaces .Chinese }}</a>: {{ .English }}
{{ end }}
{{ end }}
## Traditional
## UniqueChars
## MnemonicBase
{{ end }}
