{{ range . }}
# Note
model: ch-grammar
deck: {{ deckName }}
tags: {{ tags }}

## Head
{{ .Head }}
## Description
{{ .Description }}
## Structure
{{ .Structure }}
## Examples
{{ range .Examples }}
{{.}}
{{ end }}
## ExamplesDescription
{{ .ExampleDescription }}
{{ end }}
