# Note
model: ch-grammar2
deck: {{ deckName }}
tags: {{ tags }}

## Front
<h1 class="head">{{ .Head }}</h1>
## Back
<h1 class="head">{{ .Head }}</h1>
<p class="desc text">{{ .Description }}</p>
{{ range .Sections }}
<h2 class="section-head">{{ .Head }}</h2>
<p class="section-desc text">{{ .Description }}</p>
{{ range .Structures }}
<h3 class="struct-head">{{ .Head }}</h3>
<span class="text">Structure:</span><br>
<span class="struct text">{{ .Structure }}</span>
<p class="struct-desc text">{{ .Description }}</p>
<span class="text">Examples:</span><br>
<p class="examples text">
{{ range .Examples }}
{{.}}<br>
{{ end }}
</p>
{{ .ExampleDescription }}
{{ end }}
{{ end }}
