{{range .Sentences}}
# Note
model: npcr-ch-en-audio
deck: {{$.Deck}}
tags: {{$.Tags}}

## Chinese
{{ removeSpaces .Chinese}}
## English
{{.English}}
## Audio
{{audio .Chinese}}
## Components
{{range .AllWords}}
{{ removeSpaces .Chinese}}: {{.English}}
{{end}}
## Examples

{{range .NewWords}}
# Note
{{ if not .IsSingleRune }}
model: npcr-ch-en-audio
{{else}}
model: npcr-ch-en
{{end}}
deck: {{$.Deck}}
tags: {{$.Tags}}

## Chinese
{{ removeSpaces .Chinese}}
## English
{{.English}}
## Audio
{{audio .Chinese}}
## Components
{{range .AllChars}}
{{ removeSpaces .Chinese}}: {{.English}}
{{end}}
## Examples

{{range .NewChars}}
# Note
model: npcr-hanzi
deck: {{$.Deck}}
tags: {{$.Tags}}

## Hanzi
{{ removeSpaces .Chinese}}
## English
{{.English}}
## Audio
{{audio .Chinese}}
## Components
## Kangxi
## Equivalents
## Traditional
## Examples
{{end}}
{{end}}
{{end}}
{{ if not (eq .Chinese "") }}
# Note
model: npcr-ch-en-audio
deck: {{$.Deck}}
tags: {{$.Tags}}

## Chinese
{{ removeSpaces .Chinese}}
## English
{{.English}}
## Audio
{{audio .Chinese}}
## Components
{{range .Sentences}}
{{range .AllWords}}
{{ removeSpaces .Chinese}}: {{.English}}
{{end}}
{{end}}
## Examples
{{end}}
