{{ range . }}
# Note
{{ if not .IsSingleRune }}
model: en-ch
{{ else}}
model: ch-en
{{ end }}
deck: {{ deckName }}
tags: {{ tags }}

## Chinese
<span class="pinyin">{{ removeSpaces .Chinese}}</span>
## Pinyin
<span class="pinyin">{{ .Pinyin }}</span>
## English
<span class="english">{{ .English }}</span>
## Audio
<span class="audio">{{ audio .Chinese }}</span>
## Components
{{ range .AllWords }}
<a href="https://hanzicraft.com/character/{{ removeSpaces .Chinese }}">{{ removeSpaces .Chinese }}</a>: {{ .English }}
{{ end }}
## Traditional
## UniqueChars
{{ template "words.tmpl" .NewWords }}
{{ end }}
