{{ range . }}
# Note
{{ if not .IsSingleRune }}
model: ch-en-audio
{{ else }}
model: ch-en
{{ end }}
deck: {{ deckName }}
tags: {{ tags }}

## Chinese
{{ removeSpaces .Chinese }}
## Pinyin
{{ .Pinyin }}
<br>
## English
{{ .English }}
## Audio
{{ audio .Chinese }}
## Components
{{ if .IsSingleRune }}
Components:
{{ range .Components }}
{{ . }}
<br/>
{{ end }}
## Kangxi
Kangxi:
{{ range .Kangxi }}
{{ . }}
<br/>
{{ end }}
## Equivalents
Equivalents: {{ .Equivalents }}
## Traditional
Traditional: {{ .Traditional }}
## Examples
Examples: {{.Example}}
{{ else }}
{{ range .AllChars }}
{{ removeSpaces .Chinese }}: {{ .English }}
{{ end }}
## Traditional
Traditional: {{ .Traditional }}
{{ end }}
{{ template "chars.tmpl" .NewChars }}
{{ end }}
