{{ range . }}
# Note
{{ if not .IsSingleRune }}
model: ch-en-audio
{{ else }}
model: ch-en
{{ end }}
deck: {{ deckName }}
tags: {{ tags }}

## Chinese
<span class="chinese">{{ removeSpaces .Chinese}}</span>
## Pinyin
<span class="pinyin">{{ .Pinyin }}</span>
## English
<span class="english">{{ .English }}</span>
## Audio
<span class="audio">{{ audio .Chinese }}</span>
## Components
{{ if .IsSingleRune }}
Components:
{{ range .Components }}
<a href="https://hanzicraft.com/character/{{ . }}">{{ . }}</a>
<br/>
{{ end }}
## Kangxi
Kangxi:
{{ range .Kangxi }}
<a href="https://hanzicraft.com/character/{{ . }}">{{ . }}</a>
<br/>
{{ end }}
## Equivalents
Equivalents:  <a href="https://hanzicraft.com/character/{{ removeSpaces .Equivalents }}">{{ removeSpaces .Equivalents }}</a>
## Traditional
Traditional: <a href="https://hanzicraft.com/character/{{ removeSpaces .Traditional }}">{{ removeSpaces .Traditional }}</a>
## Examples
Examples: {{.Example}}
{{ else }}
{{ range .AllChars }}
<a href="https://hanzicraft.com/character/{{ removeSpaces .Chinese }}">{{ removeSpaces .Chinese }}</a>: {{ .English }}
{{ end }}
## Traditional
Traditional: <a href="https://hanzicraft.com/character/{{ removeSpaces .Traditional }}">{{ removeSpaces .Traditional }}</a>
{{ end }}
## UniqueChars
{{ template "chars.tmpl" .NewChars }}
{{ end }}
