{{ range . }}
# Note
{{ if not .IsSingleRune }}
model: ch-en-audio
{{ else }}
model: ch-en
{{ end }}
deck: {{ deckName }}
tags: {{ tags }}

## Chinese
<span class="chinese">{{ removeSpaces .Chinese}}</span>
## Pinyin
<span class="pinyin">{{ .Pinyin }}</span>
## English
<span class="english">{{ .English }}</span>
## Audio
<span class="audio">{{ audio .Chinese }}</span>
## Components
{{ if .IsSingleRune }}
Components:
{{ range .Components }}
{{ . }}
<br/>
{{ end }}
## Kangxi
Kangxi:
{{ range .Kangxi }}
{{ . }}
<br/>
{{ end }}
## Equivalents
Equivalents: {{ .Equivalents }}
## Traditional
Traditional: {{ .Traditional }}
## Examples
Examples: {{.Example}}
{{ else }}
{{ range .AllChars }}
{{ removeSpaces .Chinese }}: {{ .English }}
{{ end }}
## Traditional
Traditional: {{ .Traditional }}
{{ end }}
{{ template "chars.tmpl" .NewChars }}
{{ end }}
